* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}
